* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    flex-direction: column;
}

h1 {
    margin-bottom: 20px;
}

#game-container {
    border: 1px solid #ccc;
    position: relative;
}

.hex-tile {
    position: absolute;
    width: 100px;  /* 2 * hexSizeInPixels */
    height: 86.6px; /* sqrt(3) * hexSizeInPixels */
    background-color: #6a8d73;
    
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    
    transform: translate(-50%, -50%);
    
    transition: background-color 0.2s ease;
}

.hex-tile:hover {
    background-color: #8fbc8f;
}

.hex-tile.selected-hex {
    background-color: #f1c40f;
}

#timer-display {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.plant-element {
    border: 1px solid black;
    padding: 5px;
    margin: 2px;
    cursor: pointer;
}

.plant-element.selected-inventory {
    background-color: #f1c40f;
    color: black;
}

.plant {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e67e22;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(0,0,0,0.5);
}

.plant.sunflower {
    background-color: #f1c40f;
}

.plant.lavender {
    background-color: #8825e3;
}

.plant.lotus {
    background-color: #eb68b7;
}